<ng-container *ngIf="timeline">
    <div class="w-100 d-flex flex-column">
        <div class="w-100 mb-4 d-flex justify-content-between header py-3"
            [ngClass]="{'flex-column': isMobile, 'flex-column-reverse': isMobile}" 
            style="background-color: {{currentCollection.color || 'white'}};">

            <ng-container *ngIf="getCollectionTimelineItems(currentCollection.id).length>0">

                <form [formGroup]="searchForm">
                    <div class="d-flex align-items-center" [ngClass]="{'flex-column': false && isMobile}">
                    
                        <ng-select
                            [items]="timelineFormItemTypes"
                            (ngModelChange)="doSearch()"
                            formControlName="type"
                            name="type"
                            bindValue="value"
                            bindLabel="text"
                            placeholder="Cerca per tipus">
                        </ng-select>

                        <input type="text" 
                            (ngModelChange)="doSearch()" 
                            formControlName="text" 
                            class="form-control ms-2" 
                            [ngClass]="{'w-50': isMobile}" 
                            placeholder="Cerca per text">
                    
                    </div>
                </form>

            </ng-container>
            
            <div class="d-flex align-items-center" [ngClass]="{'mb-3': isMobile, 'ms-auto': !isMobile}">
                <!-- Collection selector -->
                <form [formGroup]="collectionForm">
                    <ng-select
                        [items]="timelineFormCollections"
                        (ngModelChange)="updateCollection()"
                        [clearable]="false"
                        formControlName="collectionId"
                        name="collection"
                        bindValue="value"
                        bindLabel="text"
                        placeholder="Selecciona una col·lecció">
                        <ng-template ng-label-tmp let-item="item">
                            {{item.text}} ({{getCollectionTimelineItems(item.value).length}})
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{item.text}} ({{getCollectionTimelineItems(item.value).length}})
                        </ng-template>
                    </ng-select>
                </form>
                <button class="btn btn-collection ms-1" (click)="editCollection(collectionModalTemplate)">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-collection" (click)="newCollection(collectionModalTemplate)">
                    <i class="fas fa-plus"></i>
                </button>
                <button class="btn btn-collection" (click)="removeCollection()" [disabled]="collections.length<=1">
                    <i class="fas fa-trash"></i>
                </button>
                <!-- End Collection selector -->

                <!-- Dropdown options -->
                <div ngbDropdown class="d-inline-block" [ngClass]="{'ms-auto': isMobile, 'ms-2':!isMobile}">
                    <button type="button" class="btn btn-sm header-dropdown btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>
                        <i class="fas fa-gear"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="showNewDateItem(itemModal)">
                            <i class="fas fa-plus me-2"></i>
                            Crear item
                        </button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem (click)="expandAll(true)">
                            <i class="fas fa-expand me-2"></i>
                            Desplegar dates
                        </button>
                        <button ngbDropdownItem (click)="expandAll(false)">
                            <i class="fas fa-expand me-2"></i>
                            Desplegar tot
                        </button>
                        <button ngbDropdownItem (click)="collapseAll()">
                            <i class="fas fa-compress me-2"></i>
                            Col·lapsar tot
                        </button>
                    
                        <ng-container *ngIf="!isMobile">
                            <div class="dropdown-divider"></div>
                            <button ngbDropdownItem (click)="setAlignment(TimelineAlignEnum.LEFT)">
                                <i class="fas fa-align-left me-2"></i>
                                Alinear a l'esquerra
                                <i class="fas fa-check ms-2" *ngIf="alignment===TimelineAlignEnum.LEFT"></i>
                            </button>
                            <button ngbDropdownItem (click)="setAlignment(TimelineAlignEnum.CENTER)">
                                <i class="fas fa-align-center me-2"></i>
                                Alinear al centre
                                <i class="fas fa-check ms-2" *ngIf="alignment===TimelineAlignEnum.CENTER"></i>
                            </button>
                        </ng-container>
                        
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem (click)="export()">
                            <i class="fas fa-file-pdf me-2"></i>
                            Exportar a PDF
                        </button>
                    </div>
                </div>
                <!-- End Dropdown options -->

            </div>
            
        </div>

        <!-- Timeline content -->

        <div id="timeline" class="w-100 mb-5">
            <ng-container *ngIf="searchTimeline.length>0">
                <ng-container *ngFor="let timelineDate of searchTimeline; let dateIdx = index;">
                    <ng-container [ngTemplateOutlet]="timelineDateTemplate" [ngTemplateOutletContext]="{timelineDate, dateIdx}"></ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="searchTimeline.length===0">
                <div class="w-100 p-3">
                    <div class="w-100 mb-3 text center">No hi ha elements</div>
                    <ng-container *ngIf="!filterApplied()">
                        <button class="btn btn-sm btn-primary" (click)="showNewDateItem(itemModal)">
                            <i class="fas fa-plus me-2"></i>Nou element
                        </button>
                    </ng-container>
                </div>
            </ng-container>
        </div>

        <!-- End Timeline content -->

    </div>
</ng-container>

<!-- Loader-->
<ng-container *ngIf="!timeline">
    <div class="w-100">Loading timeline</div>
</ng-container>
<!-- End Loader-->

<!-- Timeline date template -->
<ng-template let-timelineDate="timelineDate" let-dateIdx="dateIdx" #timelineDateTemplate>
    <div class="timeline-date d-flex flex-column w-100">

        <!-- Alignment LEFT -->
        <ng-container *ngIf="alignment===TimelineAlignEnum.LEFT">
            <div class="w-100 d-flex justify-content-start align-items-center" (mouseenter)="hoverDateIndex=dateIdx" (mouseleave)="hoverDateIndex=undefined">
                <div class="date px-2 cursor-pointer d-flex align-items-center" (click)="toggleExpandDate(timelineDate.date.getTime())">
                    {{timelineDate.date | date:'dd.MM.YYYY'}}
                    <i class="ms-2 fas" [ngClass]="{'fa-chevron-down': isExpandedDate(timelineDate.date.getTime()), 'fa-chevron-right': !isExpandedDate(timelineDate.date.getTime())}"></i>
                </div>
                <ng-container *ngIf="hoverDateIndex===dateIdx">
                    <i class="fas fa-plus cursor-pointer add_date ms-2" 
                        (click)="showNewItem(itemModal, timelineDate.date)" 
                        title="Afegir item"></i>
                </ng-container>
                <ng-container *ngIf="hoverDateIndex!==dateIdx">
                    <i class="fas fa-plus ms-2 add_date" style="color:transparent;"></i>
                </ng-container>
            </div>
            <div class="d-flex w-100" *ngIf="isExpandedDate(timelineDate.date.getTime())">
                <div class="w-100 timeline-items-container bl" 
                    [ngClass]="{
                        'ps-1': isMobile, 
                        'ps-3': !isMobile,
                        'ms-4': isMobile,
                        'ms-5': !isMobile
                }">
                    <ng-container *ngFor="let timelineItem of timelineDate.items; let itemIdx = index;">
                        <ng-container [ngTemplateOutlet]="timelineItemTemplate" [ngTemplateOutletContext]="{timelineItem, dateIdx, itemIdx}"></ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <!-- End Alignment LEFT -->

        <!-- Alignment CENTER -->
        <ng-container *ngIf="alignment===TimelineAlignEnum.CENTER">
            <div class="w-100 d-flex justify-content-center align-items-center" (mouseenter)="hoverDateIndex=dateIdx" (mouseleave)="hoverDateIndex=undefined">
                <div class="date px-2 cursor-pointer d-flex align-items-center" (click)="toggleExpandDate(timelineDate.date.getTime())">
                    {{timelineDate.date | date:'dd.MM.YYYY'}}
                    <i class="ms-2 fas" [ngClass]="{'fa-chevron-down': isExpandedDate(timelineDate.date.getTime()), 'fa-chevron-right': !isExpandedDate(timelineDate.date.getTime())}"></i>
                </div>
                <ng-container *ngIf="hoverDateIndex===dateIdx">
                    <i class="fas fa-plus ms-2 cursor-pointer add_date" (click)="showNewItem(itemModal, timelineDate.date)" title="Afegir item"></i>
                </ng-container>
                <ng-container *ngIf="hoverDateIndex!==dateIdx">
                    <i class="fas fa-plus ms-2 add_date" style="color:transparent;"></i>
                </ng-container>
            </div>
            <div class="d-flex  w-100" *ngIf="isExpandedDate(timelineDate.date.getTime())">
                <div class="ps-3 w-50 timeline-items-container" [ngClass]="{'ms-auto': dateIdx%2===0, 'br':dateIdx%2!==0, 'bl':dateIdx%2===0}">
                    <ng-container *ngFor="let timelineItem of timelineDate.items; let itemIdx = index;">
                        <ng-container [ngTemplateOutlet]="timelineItemTemplate" [ngTemplateOutletContext]="{timelineItem, dateIdx, itemIdx}"></ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <!-- End Alignment CENTER -->

    </div>
</ng-template>
<!-- End Timeline date template -->

<!-- Timeline item template -->
<ng-template let-timelineItem="timelineItem" let-dateIdx="dateIdx" let-itemIdx="itemIdx" #timelineItemTemplate>
    <div class="d-flex flex-column w-100 timeline-item mt-2 mb-3" *ngIf="matchesSearch(timelineItem)" [ngClass]="{'fadeIn_1s': !exporting}">
        <div 
            (mouseenter)="hoverItemId=timelineItem.id"
            (mouseleave)="hoverItemId=undefined"
            class="d-flex align-items-start w-100 cursor-pointer title" 
            [ngClass]="{
                'fw-bold': isExpandedItem(timelineItem.id),
                'justify-content-start': dateIdx%2===0, 
                'justify-content-end': alignment===TimelineAlignEnum.CENTER && dateIdx%2!==0,
                'text-end': alignment===TimelineAlignEnum.CENTER && dateIdx%2!==0,
                'pe-3': alignment===TimelineAlignEnum.CENTER && dateIdx%2!==0}">

            <ng-container *ngIf="alignment!==TimelineAlignEnum.CENTER || (alignment===TimelineAlignEnum.CENTER && dateIdx%2===0)">
                <ng-container *ngIf="isExpandedItem(timelineItem.id)"><i class="ms-2 fas fa-chevron-down mt-2 me-2" (click)="toggleExpandItem(timelineItem.id)"></i></ng-container>
                <ng-container *ngIf="!isExpandedItem(timelineItem.id)"><i class="ms-2 fas fa-chevron-right mt-2 me-2" (click)="toggleExpandItem(timelineItem.id)"></i></ng-container>

                <ng-container [ngTemplateOutlet]="itemType" [ngTemplateOutletContext]="{type:timelineItem.type, date: timelineItem.date, id: timelineItem.id}"></ng-container>
                <ng-container *ngIf="timelineItem.iconClass"><i class="me-2 mt-1 {{timelineItem.iconClass}}" (click)="toggleExpandItem(timelineItem.id)"></i></ng-container>
            </ng-container>

            <span>
                <ng-container *ngIf="alignment===TimelineAlignEnum.CENTER && hoverItemId===timelineItem.id && dateIdx%2!==0">
                    <i class="fas fa-edit ms-2" title="Editar" (click)="showEditItem(itemModal, timelineItem)"></i>
                    <i class="fas fa-close mx-2" title="Eliminar" (click)="deleteItem(timelineItem)"></i>
                </ng-container>
                <span (click)="toggleExpandItem(timelineItem.id)" [innerHTML]="timelineItem.title | highlighter:searchForm.get('text')?.value:''"></span>
                <ng-container *ngIf="hoverItemId===timelineItem.id && (alignment!==TimelineAlignEnum.CENTER || alignment===TimelineAlignEnum.CENTER && dateIdx%2===0)">
                    <i class="fas fa-edit ms-2" title="Editar" (click)="showEditItem(itemModal, timelineItem)"></i>
                    <i class="fas fa-close mx-2" title="Eliminar" (click)="deleteItem(timelineItem)"></i>
                </ng-container>
            </span>

            <ng-container *ngIf="alignment===TimelineAlignEnum.CENTER && dateIdx%2!==0">
                <ng-container *ngIf="isExpandedItem(timelineItem.id)"><i class="ms-2 fas fa-chevron-down mt-2" (click)="toggleExpandItem(timelineItem.id)"></i></ng-container>
                <ng-container *ngIf="!isExpandedItem(timelineItem.id)"><i class="ms-2 fas fa-chevron-left mt-2" (click)="toggleExpandItem(timelineItem.id)"></i></ng-container>
                
                <ng-container [ngTemplateOutlet]="itemType" [ngTemplateOutletContext]="{type:timelineItem.type, date: timelineItem.date, id: timelineItem.id}"></ng-container>
                <ng-container *ngIf="timelineItem.iconClass"><i class="ms-2 mt-1 {{timelineItem.iconClass}}" (click)="toggleExpandItem(timelineItem.id)"></i></ng-container>
            </ng-container>
            
        </div>
        <ng-container *ngIf="isExpandedItem(timelineItem.id)">
            <div class="d-flex w-100 text p-2" 
                [ngClass]="{
                    'justify-content-start': alignment!==TimelineAlignEnum.CENTER || dateIdx%2===0, 
                    'justify-content-end': alignment===TimelineAlignEnum.CENTER && dateIdx%2!==0,
                    'text-end': alignment===TimelineAlignEnum.CENTER && dateIdx%2!==0,
                    'ps-4':alignment===TimelineAlignEnum.LEFT,
                    'fadeIn_1s': !exporting
                }">
                <ng-container *ngIf="timelineItem?.hour?.length>0">
                    <small class="ms-2" [innerHTML]="timelineItem.hour + 'h.'"></small>
                    <small class="ms-2">-</small>
                </ng-container>
                <small class="mx-2" [ngClass]="{'pe-3': alignment===TimelineAlignEnum.CENTER && dateIdx%2!==0}" [innerHTML]="timelineItem.text | highlighter:searchForm.get('text')?.value:''"></small>
            </div>
            <ng-container *ngIf="timelineItem.links?.length>0" 
                [ngTemplateOutlet]="itemLinks"
                [ngTemplateOutletContext]="{links: timelineItem.links}">
            </ng-container>
        </ng-container>
    </div>
</ng-template>
<!-- End Timeline item template -->

<!-- Timeline item links template -->
<ng-template let-links="links" #itemLinks>
    <div class="d-flex w-100">
        <ul class="links ms-3 p-0">
            <ng-container *ngFor="let link of links.split(',')">
                <li class="ps-3">
                    <small class="link">
                        <i class="fas fa-link me-2" title="Link"></i>
                        <a class="link" href="{{link}}" target="_blank" [innerHTML]="link | highlighter:searchForm.get('text')?.value:''">
                        </a>
                    </small>
                </li>
            </ng-container>
        </ul>
    </div>
</ng-template>
<!-- End Timeline item links template -->

<!-- Item type template -->
<ng-template let-type="type" let-date="date" let-id="id" #itemType>
    <i *ngIf="type===TimelineItemTypeEnum.VISITA_MEDICA" class="fas fa-user-doctor mt-1 mx-2" (click)="toggleExpandItem(id)"></i>
    <i *ngIf="type===TimelineItemTypeEnum.PROVA_MEDICA" class="fas fa-vial mt-1 mx-2" (click)="toggleExpandItem(id)"></i>
    <i *ngIf="type===TimelineItemTypeEnum.INTERVENCIO_QUIRURGICA" class="fas fa-head-side-mask mt-1 mx-2" (click)="toggleExpandItem(id)"></i>
    <i *ngIf="type===TimelineItemTypeEnum.EVENT" class="fas fa-thumbtack mt-1 mx-2" (click)="toggleExpandItem(id)"></i>
    <i *ngIf="type===TimelineItemTypeEnum.NEWS" class="fas fa-newspaper mt-1 mx-2" (click)="toggleExpandItem(id)"></i>
    <i *ngIf="type===TimelineItemTypeEnum.NOTE" class="fas fa-note-sticky mt-1 mx-2" (click)="toggleExpandItem(id)"></i>
</ng-template>
<!-- End Item type template -->

<!-- Timeline item modal template -->
<ng-template let-modal #itemModal>
    <div class="d-flex flex-column w-100 p-3 timeline-modal">
        <div class="w-100 header pb-2 mb-3">
            <div class="d-flex w-100 justify-content-between align-items-center fs-3">
                <span *ngIf="!currentItem">Nou element</span>
                <span *ngIf="currentItem">Edició element</span>
                <i class="fas fa-close cursor-pointer" (click)="modal.close();currentItem=undefined;"></i>
            </div>
        </div>
        <div class="w-100 body py-2 mb-3">
            <ng-container *ngIf="itemForm">
                <form [formGroup]="itemForm">
                    <div class="d-flex flex-row">
                        <div class="form-group mb-2">
                            <label class="form-control-label" for="date">
                                Data
                                <sup class="text-danger">*</sup>
                            </label>
                            <input #dataItem 
                                [readOnly]="true" 
                                [disabled]="currentItem!=undefined" 
                                [owlDateTime]="dt1" 
                                [owlDateTimeTrigger]="dt1" 
                                class="form-control date-selector cursor-pointer"
                                [ngClass]="{
                                    'cursor-pointer': !currentItem,
                                    'events-disabled': currentItem
                                }" 
                                formControlName="date" 
                                placeholder="Selecciona una data">
                            <owl-date-time [pickerType]="'calendar'" [firstDayOfWeek]="1" #dt1></owl-date-time>
                        </div>
                        <div class="form-group mb-2 ms-3">
                            <label class="form-control-label" for="hour">Hora</label>
                            <input formControlName="hour" type="text" class="form-control" placeholder="HH:MM">
                        </div>
                    </div>
                    
                    <div class="form-group mb-2">
                        <label class="form-control-label" for="title">
                            Títol
                            <sup class="text-danger">*</sup>
                        </label>
                        <textarea rows="2" formControlName="title" type="text" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-2">
                        <label class="form-control-label" for="text">
                            Text
                            <sup class="text-danger">*</sup>
                        </label>
                        <textarea rows="4" formControlName="text" type="text" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-control-label" for="type">
                            Tipus
                            <sup class="text-danger">*</sup>
                        </label>
                        <ng-select
                            [items]="timelineFormItemTypes"
                            formControlName="type"
                            name="type"
                            bindValue="value"
                            bindLabel="text">
                        </ng-select>
                    </div>
                    <div class="form-group mb-2">
                        <label class="form-control-label" for="links">Links</label>
                        <input formControlName="links" type="text" class="form-control" placeholder="Ex: URL-1, URL-2">
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" for="iconClass">Classe CSS icona</label>
                        <input formControlName="iconClass" type="text" class="form-control" placeholder="Ex: fas fa-check">
                        <i class="form-sample ms-2 {{itemForm.get('iconClass')?.value}}"></i>
                    </div>
                </form>
            </ng-container>
        </div>
        <div class="w-100 footer d-flex justify-content-between align-items-center">

            <div>
                <small><span class="text-danger me-2">*</span>Camp obligatori</small>
            </div>

            <div>
                <button type="button" class="btn bt-sm btn-light" (click)="modal.close(); currentItem=undefined;">Cancelar</button>
                <button type="button" class="btn bt-sm btn-primary ms-2" [disabled]="!itemForm.valid" (click)="saveItem(); modal.close()">
                    <i class="fas fa-save me-2"></i>Desar
                </button>
            </div>
            
        </div>
    </div>
</ng-template>
<!-- End Timeline item modal template -->

<!-- Timeline collection modal template -->
<ng-template let-modal #collectionModalTemplate>
    <div class="d-flex flex-column w-100 p-3 timeline-modal">
        <div class="w-100 header pb-2 mb-3">
            <div class="d-flex w-100 justify-content-between align-items-center fs-3">
                <span *ngIf="currentEditCollection && currentEditCollection.id!==currentCollection.id">Nova col·lecció</span>
                <span *ngIf="currentEditCollection && currentEditCollection.id===currentCollection.id">Edició col·lecció</span>
                <i class="fas fa-close cursor-pointer" (click)="modal.close();currentEditCollection=undefined;"></i>
            </div>
        </div>
        <div class="w-100 body py-2 mb-3">
            <ng-container *ngIf="collectionEditForm">
                <form [formGroup]="collectionEditForm">
                    <div class="d-flex flex-column">
                        <div class="form-group w-100 mb-2">
                            <label class="form-control-label" for="name">
                                Nom
                                <sup class="text-danger">*</sup>
                            </label>
                            <input formControlName="name" type="text" class="form-control w-100" placeholder="Nom de la col·lecció">
                        </div>
                        <div class="form-group w-100 mb-2">
                            <label class="form-control-label" for="color">
                                Color de fons
                                <sup class="text-danger">*</sup>
                            </label>
                            <input 
                                formControlName="color" 
                                type="text" 
                                class="form-control w-100" 
                                style="background-color: {{collectionEditForm.get('color')?.value}}" 
                                placeholder="Color de fons">
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
        <div class="w-100 footer d-flex justify-content-between align-items-center">

            <div>
                <small><span class="text-danger me-2">*</span>Camp obligatori</small>
            </div>

            <div>
                <button type="button" class="btn bt-sm btn-light" (click)="modal.close(); currentEditCollection=undefined;">Cancelar</button>
                <button type="button" class="btn bt-sm btn-primary ms-2" [disabled]="!collectionEditForm.valid" (click)="saveCollection(); modal.close()">
                    <i class="fas fa-save me-2"></i>Desar
                </button>
            </div>
            
        </div>
    </div>
</ng-template>
<!-- End Timeline collection modal template -->
