img.logo {
    width: 25px;
    max-height: 25px;
}

img.history_img {
    max-width: 60px;
    max-height: 60px;
    border: 1px solid darkslategrey;
}

img.radio_img {
    max-width: 100px;
    max-height: 100px;
}

small {
    &.country_name { color: #999; }
    &.title { color: #999; }
    &.num_channels { color: #999; }
}

.wrap-125 {
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrap-200 {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#testURL {
    background-color: #000;
    color: #fff;
    border-radius: 0px;
    border: 1px solid darkslategrey;
}

.tv-multiple-screen {
    width: 300px;
    height: 170px;
    color: ivory;
    border: 1px solid darkslategray;
    overflow: hidden;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: darkslategrey !important;
}

::placeholder {
    color: darkgray;
    opacity: 1; /* Firefox */
    font-weight: 100;
}
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: darkgray;
    font-weight: 100;
}


::ng-deep {

    .ng-select .ng-select-container {
        color: #fff;
        background-color: #000;
        border-radius: 0px;
        border: 1px solid darkslategrey;
        min-height: 36px;
        align-items: center;       
    }

    .no-borders {
        .ng-select .ng-select-container {
            border: 1px solid transparent;
            cursor: pointer;
        }
    }

    .ng-select.ng-select-opened>.ng-select-container {
        background: #000;
        border-color: darkslategrey;
        color: #fff;
    }

    .ng-select .ng-select-container .ng-value-container .ng-input>input {
        color: #fff;
    }

    .ng-value {
        width: calc(100% - 15px);
    }

    youtube-player {
        iframe {
            width: 100% !important;
        }
    }

}