<div class="w-100 h-100" style="height: calc(100vh) !important;overflow: auto;">
    <div class="d-flex flex-column align-items-center w-100 h-100" [ngClass]="{'justify-content-start': true}">
        <div class="my-3" [ngClass]="{'w-50': !isMobile || orientation==='landscape', 'w-100': isMobile && orientation!=='landscape'}">
            <ng-container *ngIf="channels.length>0">
                <form [formGroup]="streamForm">
                    <ng-select
                        [items]="channels"
                        (ngModelChange)="doUpdateStreamUrl($event)"
                        formControlName="channel"
                        name="type"
                        bindValue="name"
                        bindLabel="name"
                        placeholder="Search a channel">
                        <ng-template ng-label-tmp let-item="item">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="d-flex align-items-center">
                                    <img [src]="item.logo" class="logo me-2">
                                    {{item.name}}
                                </div>
                                <i *ngIf="item.country?.length>0" class="ms-auto fi fi-{{item.country}}"></i>
                            </div>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img [src]="item.logo" class="logo me-2">
                                    {{item.name}}
                                </div>
                                <i *ngIf="item.country?.length>0" class="ms-auto fi fi-{{item.country}}"></i>
                            </div>
                        </ng-template>
                    </ng-select>
                </form>
            </ng-container>
        </div>
       
        <div  [ngClass]="{'w-50': !isMobile || orientation==='landscape', 'w-100': isMobile && orientation!=='landscape'}">
            <ng-container *ngIf="streamUrl">

                <ng-container *ngIf="isWindows || isAndroid">
                    <vg-player>
                        <video #myMedia
                               [vgHls]="streamUrl"
                               [vgHlsHeaders]="headers"
                               (onGetBitrates)="hlsBitrates = $event"
                               id="my-video"
                               type="video/mp4"
                               preload="metadata"
                               [muted]="true"
                               autoplay
                               controls>
                        </video>
                    </vg-player>
                </ng-container>

                <ng-container *ngIf="isIOS">
                    <vg-player>
                        <video #myMedia
                               [vgHls]="streamUrl"
                               [vgHlsHeaders]="headers"
                               (onGetBitrates)="hlsBitrates = $event"
                               id="my-video"
                               type="video/mp4"
                               preload="metadata"
                               [muted]="true"
                               autoplay
                               controls>
                        </video>
                    </vg-player>
                    
                </ng-container>
                
            </ng-container>
        </div>
    </div>
</div>