<div class="w-100 h-100" style="height: calc(100vh) !important;overflow: auto;">
    <div class="d-flex align-items-center w-100 h-100 px-1" 
        [ngClass]="{
            'justify-content-start': true,
            'flex-column': true
        }">
        <div class="d-flex mt-2 mb-3" 
            [ngClass]="{
                'w-75': !(isMobile && portrait), 
                'w-100': isMobile && portrait                
            }">
            <ng-container *ngIf="channels.length>0 && streamForm">
                <form [formGroup]="streamForm" class="w-100 d-flex" [ngClass]="{'d-flex': !isMobile}">
                    <div 
                        [ngClass]="{
                            'w-50': !isMobile,
                            'w-100': isMobile 
                        }">
                        <ng-select
                            class="mb-2"
                            [items]="countries"
                            (ngModelChange)="doFilterByCountry(undefined)"
                            (clear)="doFilterByCountry()"
                            [hideSelected]="true"
                            formControlName="country"
                            [clearable]="true"
                            name="type"
                            bindValue="iso2"
                            bindLabel="name"
                            placeholder="Search a country">
                            <ng-template ng-label-tmp let-item="item">
                                <div class="d-flex align-items-center justify-content-start w-100">
                                    <i *ngIf="item.iso2.length>0" [title]="getCountryName(item.iso2)" class="me-2 fi fi-{{item.iso2}}"></i>
                                    {{item.name}} <small class="num_channels ms-2">({{item.numChannels}} channels)</small>
                                </div>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                <div class="d-flex align-items-center justify-content-between w-100">
                                    <div>
                                        <i *ngIf="item.iso2.length>0" [title]="getCountryName(item.iso2)" class="me-2 fi fi-{{item.iso2}}"></i>
                                        {{item.name}}
                                    </div>
                                     <small class="num_channels ms-2">({{item.numChannels}} channels)</small>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div 
                        [ngClass]="{
                            'w-50': !isMobile,
                            'w-100': isMobile,
                            'ps-1': !isMobile
                        }">
                        <ng-select
                            #channelSelector
                            [items]="channelsFiltered"
                            (ngModelChange)="doUpdateStreamUrl($event)"
                            [hideSelected]="false"
                            formControlName="channel"
                            name="type"
                            bindValue="name"
                            bindLabel="name"
                            placeholder="Search a channel">
                            <ng-template ng-label-tmp let-item="item">
                                <div class="d-flex align-items-center justify-content-between w-100">
                                    <div class="d-flex align-items-center">
                                        <img [src]="item.logo" class="logo me-2">
                                        <div [ngClass]="{'wrap-200':isMobile}">{{item.name}}</div>
                                    </div>
                                    <i *ngIf="item.country?.length>0" [title]="getCountryName(item.country)" class="ms-auto fi fi-{{item.country}}"></i>
                                </div>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img [src]="item.logo" class="logo me-2">
                                        <div [ngClass]="{'wrap-200':isMobile}">{{item.name}}</div>
                                    </div>
                                    <div>
                                        <small class="me-2 country_name">{{item.country}}</small>
                                        <i *ngIf="item.country?.length>0" [title]="getCountryName(item.country)" class="ms-auto fi fi-{{item.country}}"></i>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                    
                </form>
            </ng-container>
        </div>
       
        <div class="d-flex justify-content-between align-items-top" 
            [ngClass]="{
                'w-75': !(isMobile && portrait), 
                'w-100': isMobile && portrait,
                'flex-column': isMobile && portrait
            }">
            
            <ng-container *ngIf="!(isMobile && portrait)" [ngTemplateOutlet]="historyTemplate"></ng-container>
            <div class="d-flex flex-column justify-content-start align-items-top" 
                [ngClass]="{
                    'w-85': !(isMobile && portrait), 
                    'w-100': isMobile && portrait
                }">
                <ng-container *ngIf="streamUrl">

                    <ng-container *ngIf="currentFormat===MediaTypesEnum.M3U8">
                        <ng-container *ngIf="isWindows || isAndroid || isMac">
                            <vg-player>
                                <video #myMedia
                                       [vgHls]="streamUrl"
                                       [vgHlsHeaders]="headers"
                                       (onGetBitrates)="hlsBitrates = $event"
                                       id="my-video"
                                       type="video/mp4"
                                       preload="metadata"
                                       [muted]="true"
                                       [autoplay]="true"
                                       autoplay
                                       controls>
                                </video>
                            </vg-player>
                        </ng-container>
        
                        <ng-container *ngIf="isIOS">
                            <vg-player>
                                <video #myMedia
                                       [vgHls]="streamUrl"
                                       [vgHlsHeaders]="headers"
                                       (onGetBitrates)="hlsBitrates = $event"
                                       id="my-video"
                                       type="video/mp4"
                                       preload="metadata"
                                       [muted]="true"
                                       [autoplay]="true"
                                       autoplay
                                       controls>
                                </video>
                            </vg-player>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="currentFormat===MediaTypesEnum.MP3">
                        <div class="d-flex flex-column audio-player-container justify-content-start align-items-start p-5">
                            <img *ngIf="history && history.length>0" class="radio_img m-2" [src]="getChannel(history[0])?.logo">
                            <vg-player>
                                <audio #myMedia id="my-audio" [muted]="false" [autoplay]="true" autoplay controls>
                                    <source [src]="streamUrl" [type]="'audio/mp3'">
                                </audio>
                            </vg-player>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="currentFormat===MediaTypesEnum.YOUTUBE && youtubeVideoId">
                        <youtube-player [videoId]="youtubeVideoId"></youtube-player>
                    </ng-container>
                    
                </ng-container>
            </div>
            <ng-container *ngIf="isMobile && portrait" [ngTemplateOutlet]="historyTemplate"></ng-container>
            
        </div>
    </div>
</div>

<ng-template #historyTemplate>
    <div class="d-flex justify-content-around" 
        [ngClass]="{
            'w-15': !(isMobile && portrait), 
            'w-100': isMobile && portrait,
            'flex-column': !(isMobile && portrait),
            'mt-2': isMobile && portrait,
        }">
        <ng-container *ngFor="let channelId of history">
            <button class="btn btn-sm p-2" (click)="selectChannelFromHistory(channelId)">
                <img [title]="getChannel(channelId)?.name" class="me-2 w-100 history_img" [src]="getChannel(channelId)?.logo">
            </button>
        </ng-container>
    </div>
</ng-template>