/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap.scss';

/* Importing Datetimepicker CSS file. */
@import "../node_modules/@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

/* Importing NGSELECT CSS file. */
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

/* Importing Toastr */
@import 'ngx-toastr/toastr';

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1060;
}

.form-control:focus {
    border-color: #dee2e6 !important;
    box-shadow: 0 0 0 0.2rem transparent !important;
}

.highlight {
    background-color: gold;
}

.link, a {
    color: blue;
    cursor: pointer;
    text-decoration: none;
     &:hover {
        text-decoration: underline;
     }
}